bazel-bin/
bazel-out/
bazel-testlogs/
bazel-*
.vscode/settings.json
magnet/images/
magnet/video/
magnet/go4vl/webcam/facefinder.model
caesar/images/
build/
.bazelbsp
.bsp
.idea
.metals
.ijwb
node_modules/