[req]
distinguished_name = empty_distinguished_name
[empty_distinguished_name]
# Kept empty to allow setting via -subj command-line argument.
[ca_exts]
basicConstraints=critical,CA:TRUE
keyUsage=keyCertSign
extendedKeyUsage=clientAuth
[leaf_exts]
keyUsage=critical,Digital Signature, Key Encipherment
basicConstraints=critical, CA:FALSE
