services:
  api:    
    build:
      context: ../..
      dockerfile: spiral/prometheus/Dockerfile 
    container_name: api
    ports:
      - 8000:8000   
    develop:
      watch:
        - path: spiral/prometheus/
          action: rebuild
  
  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  grafana:
    image: grafana/grafana:11.3.0
    container_name: grafana    
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
